body {
  margin: 0;
}
a { text-decoration:none }

ul {
    list-style: none;
    margin:0px; padding:0px;
}
 
#container {
  width : 100%;
  height : 1400px;
  position : relative;
}

#header{
  background-color: #f1f1f1;
  width : 1280px;
  height : 60px;
  position : static;
}
#google_play img{
  position: absolute;
  margin-top: 10px; 
  margin-left: 30px;
  display: block;
  width: 183px;
  height: 39px;
  background-size: 183px 39px;
  background-repeat: no-repeat;

}
#search_bar > input{ 
  position : absolute;
  top : 13px;
  left : 250px;
  width :589px;
  height : 24px;
  font: 16px arial,sans-serif;
}
#search_botton{ 
  position : absolute;
  top: -11px;
  left: 824px;
  padding: 20px;
}
#app_botton{
  position : absolute;
  top : 0px;
  right : 100px
}
#login{
  position : absolute;
  top : 0px;
  right : 0px;
}
 
#section_container{
  width : 1280px;
  height : 1400px;
}
#leftcol{ /*왼쪽 메뉴*/
  background-color: #f1f1f1;
  box-shadow: 0 1px 6px rgba(0,0,0,0.1);
  1border : 1px solid gray;
  width : 200px;
  height : 240px;
  float : left;
  position: absolute;
  z-index : 2;
}
#book_link{ /*도서 표시 */
  background-color : #1aa1e1;  
  width : 200px;
  height : 48px;
  float : left;
}
#left{ /*왼쪽 사이드 이동 버튼 */
  float : left;
  margin-top:1px;
}
#menu_list{
  font-size: 18px;
  padding-bottom: 6px;
  padding-top: 54px;
  padding-left: 24px;
}
#menu_list > li:nth-child(1){ /* 내 책 */
  padding: 8px 12px 8px 23px;
  line-height: 20px;
  vertical-align: middle;
}
#menu_list > li:nth-child(1) > a{
  color: #555;
}
#menu_list > li:nth-child(1):hover{
  background-color : #E0E0E0;
}
#menu_list > li:nth-child(2){ /* 쇼핑하기 */
  padding: 8px 12px 8px 23px;
}
#menu_list > li:nth-child(2) > a{
  color : #1380b5;
}
#menu_list > li:nth-child(2):hover{
  background-color : #E0E0E0;
}

#upper_list{
  background-color : #fff;
  box-shadow : 0 1px 0 rgba(0,0,0,0.05);
  width : 1280px;
  height : 48px;
  position : absolute;
}
#setting_botton{
  /*background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVCAYAAACpF6WWAAAA3klEQVQ4y2NgGE4gEYj/I+FEahg6D83QuaQawATEqkDMCOVbA/FdNEPvALEVVJ4Rqp4Jn6HZUI3XgHgNEP9DMxCG/0Hlr0H52bgMFALiN3gMeYLHkjdQ/RigDovi30DcgaRBGIg7gfgPFrV12AzVhYYXssI2HL7qwBLOuriCgA+IPyF5WQCHOl4g/gFV9xGqDy/4BVX8jIC6B1B1PwkZSHWX0iRM6/HEPi+SC3HFfi2udPoWRzr8As1ZX/CkU0FcQZBDYo66DuVn0T3vYwNz0AydTY2iLxXN0NThU1UAAJ7AjlNiNxjgAAAAAElFTkSuQmCC);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 21px;
  margin-top: 4px;
  width: 21px;
  margin: 17px 3px 1px 3px;
vertical-align: top;*/

  float: right; /*원래 코드 부분 */
  margin: 6.3px 40px;
  vertical-align: middle;
}
#help_botton{
  /*background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVCAYAAACpF6WWAAAAwUlEQVQ4y9WU6w3DIAyEGcEjZIQOwBAdgdEyikfoAAyRDVwTgZQQPyDKj/akkyIEn2zOIRBReNrh/6GsxEY2dS5raQrKWtgfAda77FlcKOvF3gaAzZsE7qGnCgGAEJGayndZ6ytWofUOTweOwCNYqDhp0EsoTTHG3U1SeBrUvD8HShdoTVwFDrQvQmEEqgQlQ732rbY9KE7M53BQSTuUc95tQNWRgptQc/jfN9q2f1PWOgn0H5Qa1Forhkefvp99+b/H6ZOyGDEoawAAAABJRU5ErkJggg==);
  background-position: center;
  background-repeat: no-repeat;
  */
  float: right; /* 원래 코드 부분 */
  margin: 7px -25px;
  vertical-align: middle;
}
/*#help_botton:hover{
  1background-color: transparent;
  box-shadow: 0 0 0 0 rgba(0,0,0,0.27);
border: 1px solid rgba(0,0,0,0.27);
color: #333;
1cursor: pointer;
}*/

#upper_list{
  font-family: "Roboto",Arial,sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.4;
  text-align: center;
    line-height: 48px;
}

#action_bar{
  float : left;  
  margin-left: 240px;
}
#action_bar:hover{
  height : 48px;
  background-color : #EFEFEF;
}

#action_bar_dropdown_container{ /* 장르 */
  float : left;
  padding-left : 15px;
}
#action_bar_dropdown_container > a{
  color : #737373;
}
#action_bar_botton {
  background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAAAjUlEQVQoz2P4//8/A7mYYYhrzs3N5SsqKsoE0jLYFGZmZgoWFhZmAYEEhmagxsri4uL/QPwYaIAyssbs7GxhoPwFkDyQnoOhGWiqLlDyA7oBaBp/AdW5YfVzfn6+ObIBeXl5xsgagXQA3gBDM+AnLo04QxtqwHeoAX+xacQbVUC/RQA1vQQF5HBNYeRgAKO6bfkUgtZHAAAAAElFTkSuQmCC);
  background-position-y: center;
  background-repeat: no-repeat;
  height: 15px;
  width: 15px;
  float : left;
  margin-left : 6px;
  margin-top : 16px;
  padding-right : 15px;
}
#bar{
  float : left;
  margin-right : 3px;
  margin-top : 3px;
}
#action_bar_list > ul > li {
  float : left;
}
#action_bar_list > ul > li a {
  color : #737373;
  padding-left : 15px;
  padding-right : 15px;
}
#action_bar_list > ul > li:nth-child(1){ /* 파란 밑줄 */
  border-bottom-style: solid;
  border-bottom-width: 3px;
  font-weight: 500;
  height: 45px;
  color: #1aa1e1;
  width : 42px;
} 
#action_bar_list > ul > li:hover{
  background-color : #EFEFEF;
}
 
#section{
  background-color : #e5e5e5;
  width : 1280px;
  height : 1430px;
  float:right;
  1z-index : -10;
}

#section1{
  float : left;
  margin-top: 48px;
  padding-top: 40px;
  padding-left:248px;
  height : 420px;
  font-family: "Roboto",Arial,sans-serif;
}
 
.title1 {
  font-family: "Roboto",Arial,sans-serif;
  font-size: 28px;
  font-weight: 100;
  padding-bottom : 4px;
}
.title1 a {
  color: #333;
}
.title2 {
  font-family: "Roboto",Arial,sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  padding-bottom: 4px;
}
.title2 a{
  color: #555;
}

.see_more{
  float : right;
  margin-top : -50px;
  margin-right: 10px;
}
.content{
  float:left;
  margin-right:12px;
  margin-top : 10px;
  z-index : 100;
}
.content{
  background-color : #f5f5f5;
  width : 160px;
  height : 330px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.content_img img{ 
  width : 160px;
  height : 250px;
  margin-top : 8px;
  margin-bottom: 6px;
}
.content_img:hover{
  background-color : #808080;
  border-radius: 3px;
}
.content_img img:hover{
   opacity: 0.2;
}
.content_list{
  background-color : white;
  width : 160px;
  height :66px;
}
.content_list > li:nth-child(1) > a{
  color: #333;
  font-family: "Roboto",Arial,sans-serif;
  margin-left : 10px;
}
.content_list > li:nth-child(1) > a:hover{
  text-decoration: underline;
}
.content_list > li:nth-child(2) > a{
  font-size: 0.8em;
  color: #aaaaaa;
  margin-left : 10px;
}
.content_list > li:nth-child(2) > a:hover{
  text-decoration: underline;
}
.content_list > li:nth-child(3) > a{
  font-size: 0.8em;
  color: #1aa1e1;
  float : right;
  margin-right : 10px;
  margin-top : 10px;
}
.content_list > li:nth-child(3) > a:hover{
  text-decoration: underline;
}

#section2{
  float : left;
  padding-top: 8px;
  padding-left:248px;
  height : 420px;
  margin-top : 20px;
}

#section3{
  float : left;
  margin-top: 20px;
  padding-top: 8px;
  padding-left:248px;
  height : 420px;
  
}

#background_img {
  background-image:url(https://lh3.ggpht.com/87HoAkbS5VunHQMBJSx-rmhuEE4lnPN4G1G1EuRM8nsqVLi42QCvJx8te7LK_N08vuc=h556);
  background-repeat: no-repeat;
  margin-left : -400px;
  height : 367px;
  width: 60%;
  z-index : 1;
  position : absolute;

}

#content_container{
  float : left;
  padding-left : 420px;
  z-index : -1;
  width : 100%;
  height : 367px;
  background-color : #D7D3CF;  
}
 
#footer{
  width : 1280px;
  height : 158px;
  clear : both;
  padding-top : 40px;
  content-left : 246px;
  font-size: 13px;
  font-weight: 300;
  line-height: 1.4;
  background-color : #e5e5e5;
  font-family: "Roboto",Arial,sans-serif;
}
#footer_font{
  margin-left : 248px;
}
#google {
  color: #555;
  font-weight: 400;
    float : left;
}
#footer_link_container > ul > li {
  float : left;
  margin-left : 10px;

}
#footer_link_container > ul > li a{
  color: #8d8d8d;
}
#footer_link_container > ul > li a:hover{
  text-decoration: underline;
}
#subfooter > a{
  color : #555;
}
#subfooter > a:hover{
  text-decoration: underline;
}



@media (max-width: 480px) {
	#header{
		width : 100%;
	}
	#google_play{
		width : 50%;
		display : block;
		margin-left : auto;
		margin-right : auto;
	}
	#section_container{
		width : 100%;
	}
	#upper_list{
		display : none;
	}
	#leftcol{
		display:none;
	}
   #section {
   	width : 100%;
   	height : 1802px;
   	float : none;
   	overflow : hidden;
  
   }
   #section1 {
   	width : 100%;
   	height : 1802px;
   	float : none;
   	margin : 0 0 0 0;
   	padding-left : 0;
   	
  
   }
   .content_container{
   	overflow : hidden;
   	width : 100%;
   	height : 420px;
   }

   .content{
   	float : none;
   	display : inline-block;
   	
}